<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to Learn UML Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <!--  /webjars\highlight.js\11.3.1\styles\default.css-->
    <link rel="stylesheet" href="/webjars/prismjs/themes/prism.css">

    <!--   https://www.webjars.org/documentation#springmvc -->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--    c:\temp\META-INF\resources\webjars\prismjs\1.25.0\prism.js-->
    <script type="text/javascript" src="/webjars/prismjs/components/prism-core.min.js"></script>
    <script type="text/javascript" src="/webjars/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
</head>
<body>
<div>
    <h1>Welcome to Gyapeee's tutorial</h1>
    <div th:text="${testdata}">hy</div>
    <pre>
    <code class="language-java" th:text="${code}">
without code from controller
        <!--<span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>-->

    </code>
    </pre>
    <div>This is the output:</div>
    <pre class="command-line language-powershell"
         data-prompt="PS C:\Projects\learn-uml>"
    ><code>
"C:\Program Files\AdoptOpenJDK\jdk-8.0.282.8-hotspot\bin\java.exe" Main
red
green
    </code></pre>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="tooltip"
            title="Is this bootstrap">Is this a bootstrap btn??
    </button>

    <!--    <h3><a th:href="/@{/users}">List of Users</a></h3>-->
    <!--    <h3><a th:href="/@{/register}">Register</a></h3>-->
    <!--    <h3><a th:href="/@{/login}"></a></h3>-->
</div>

<!-- Init tooltips -->
<script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })








































</script>
<!--&lt;!&ndash; Initialize highlight &ndash;&gt;-->
<!--<script>hljs.initHighlightingOnLoad();</script>-->

</body>
</html>
